{% extends "partials/base.html" %}
{% block title %}Create Status{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="shadow-lg border-0 rounded-4 w-100" style="max-width: 500px;">
        <div class="card-body p-5">
            <h2 class="text-center mb-4">Create a New Task</h2>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-floating mb-3">
                    {{ form.title(class="form-control") }}
                    <label>Task Name</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form.description(class="form-control") }}
                    <label>Task Description</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form.status_id(class="form-select") }}
                    <label>Status</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form.users(class="form-select", multiple=True) }}
                    <label>Assign Users</label>
                </div>
                <div class="d-grid">
                    {{ form.submit(class="btn btn-primary py-2 rounded-3") }}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
